
node_modules
dist/
.vscode/
.DS_Store
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
*.iml
*.swp
.env
env_server_copy.txt

.env.local
.env.production
.next/
dist/
build/
firebase-admin-sdk.json
temp_auto_push.bat
temp_interactive_push.bat
